body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(231, 224, 214);
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    margin: 0px;
}

h2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    margin: auto;
    padding: 20px;
    width: 810px;
}

h3 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    margin: auto;
    width: 810px;
    padding: 20px;
}
ul {
    margin:auto;
    width: 200px;
    border: solid aliceblue 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 305px;
    padding-right: 305px;
}

ol {
    margin: auto;
    width: 200px;
    border: solid aliceblue 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 305px;
    padding-right: 305px;
}

p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(231, 224, 214);
    margin: auto;
    padding: 5px;
    width: 800px;
    border: solid aliceblue 20px;
}

#Usr-msg {
    background-color: aliceblue;
    font-size: large;
}
